body, html {
  height: 100%;
  margin: 0px;
  text-align: center;
}

.btn {
  border: 1px solid black;
}

.container {
  min-height: 100%;
  padding: 75px;
  background-image: linear-gradient(to bottom right, silver, white);
}

.display-1 {
  font-weight: bold;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.input-group {
  width: 60%;
}

.input-group > button, .input-group > input {
  border: 1px solid black;
}

#add {
  font-weight: bolder;
}

#formatToggle > p {
  margin: 10px;
}

label {
  width: 100px;
}

ul {
  min-height: inherit;
  margin-left: 10px;
  margin-bottom: 10px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.itemView {
  display: none;
  text-align: left;
  width: 75%;
}

.itemView > div {
  border-radius: 10px;
  min-height: 10rem;
  border: 1px solid black;
  margin-bottom: 10px;
}

.selectedFormat {
  display: block;
}

.itemView > div > p {
  font-style: italic;
  border-bottom: 1px solid black;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.itemView > div > p > span {
  margin-left: 10px;
}

.column {
  width: 33%;
  padding: 0px;
  height: 30rem;
  margin-left: .33%;
}

#tabDisplay {
  height: 30rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid black;
  border-top: none;
}

#tabDisplay > div {
  min-height: 90%;
  border: none;
}

#tabDisplay > p {
  display: inline-block;
  margin-bottom: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid black;
  background-color: white;
  padding-bottom: 0px;
}

#tabDisplay > div > ul {
  min-height: inherit;
}
